<ul>
  <% @messages.each do |m| %>
    <li id="<%= m.id %>">
      <%= m.message %>
      <form action="/delete" method="post">
        <input type='hidden' name='id' value='<%= m.id %>'/>
        <input type="submit" value="Delete"/>
      </form>
    </li>
  <% end %>
</ul>
