<form action='/update' method='post'>
  <input type="hidden" name="id" value="<%=session[:id]%>">
  <input type="text" name="message" value="<%=session[:message]%>">
  <input type="submit" value="Commit">
</form>
